SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/boodle
SPRING_DATASOURCE_USERNAME=boodle_user
SPRING_DATASOURCE_PASSWORD=boodle_secret
POSTGRES_DB=boodle
POSTGRES_USER=boodle_user
POSTGRES_PASSWORD=boodle_secret
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_PROFILES_ACTIVE=docker
